body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: url('Evaluation-2/images/wall.jpeg')no-repeat center center fixed;
    background-size: cover;
}
.logo {
    font-size: 50px;
    color: red;
}

nav {
    background-color: yellowgreen;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a {
    padding: 15px;
    text-decoration: none;
}
nav a .icons i{
    padding: 15px;
}
.container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card1 {
    border-radius: 10px;
    box-shadow: 0 4px 8px grey;
    margin: 20px;
    overflow: hidden;
    width: 200px;
    text-align: center;
}

.card h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size:50px;
    color: yellow;
    font-weight: 1500;
}